{% extends "SocialBundle::layout.html.twig" %}

{% block body %}
   <div class="container">
    {% if error %}
       <span>Il manque une information</span> 
    {% endif %}
    {{ form_start(form, {'method': 'POST', 'action':'/new', 'id': 'newForm'}) }}
       
        {{ form_row(form.artiste) }}
        {{ form_row(form.titre) }}
       <br>
       <input type='button' class="btn btn-secondary" id="get_youtube_API" value="RECHERCHER DES VIDEOS">
       <div class="row" id="choix_video"></div>
       
        {{ form_row(form.description) }}
        {{ form_row(form.youtube, {'label': 'Lien youtube'}) }}
       
       
    {{ form_end(form) }}
    </div>

{% endblock %}